<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <!-- http://www.simonsite.org.uk/javadoc/timeandsize/org/apache/log4j/appender/TimeAndSizeRollingAppender.html -->
  <appender name="LOG-DAILYROLL"
    class="org.apache.log4j.appender.TimeAndSizeRollingAppender">
    <param name="File" value="/usr/local/rex/azkaban/logs/azkaban.log" />
    <param name="Threshold" value="INFO" />
    <param name="DatePattern" value=".yyyy-MM-dd" />
    <param name="MaxFileSize" value="50MB" />
    <param name="MaxRollFileCount" value="30" />
    <param name="ScavengeInterval" value="30000" />
    <param name="BufferedIO" value="false" />
    <param name="CompressionAlgorithm" value="GZ" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c{2} -- %m%n" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c{2} -- %m%n" />
    </layout>
  </appender>

  <root>
    <appender-ref ref="LOG-DAILYROLL" />
    <appender-ref ref="ConsoleAppender" />
  </root>

</log4j:configuration>
